<div id="disenobox">
    <h2 id="disenotitulo"
        class="sticky-sm-top"
      >
      <div class="row">      
      <div 
      class="col-sm-10"
      >Educación
      </div>
      <div
      class="col-sm-2"
      >    
      <button 
      class="btn btn-secondary"
      (click)="addEducacion()"
      id="botonedit"
      >
      Agregar Educación
      </button>
      </div>
    </div>
    </h2>
    <app-estudios-items
    *ngFor="let educacion of miEducacion"
    [educacion]="educacion"
    (educacionElimiarPass)="eliminarEducacion(educacion)"
    ></app-estudios-items>
</div>