<div id="perfilbox" class="position-relative">
    <div class="position-absolute top-70 start-0 translate-middle-y">
        <img id="perfilimg" src="assets/dannyperfil.jpg" class="rounded-circle" alt="Pronto sera mi imagen de perfil">
    </div>
  </div>
<div id="titulo" class="container-fluid" *ngFor="let persona of persona">
  <h1>{{persona.nombre+' '+persona.apellido}}
  <i 
  class="bi bi-pen-fill"
  (click)="editPersona(persona.id_persona)"
  id="editicon"
  >
  </i>
  </h1>
  <p>{{persona.localidad +', '+persona.pais}}</p>
  <p>{{persona.profesion_oficio}}</p>
  </div>
