<div id="disenobox">
    <h2 
    id="disenotitulo">
    <div class="row">
    <div
    class="col-sm-10"
    >Habilidades
    </div>
    <div
    class="col-sm-2">    
    <button 
    class="btn btn-secondary"
    (click)="backPorfolio()"
    id="botonedit"
    >
    Volver
    </button>
    </div>
    </div>
    </h2>
    <div class="container">
        <form (ngSubmit)="guardarHabilidad()">
        <div class="card">
            <h5 class="card-header">Rellena los campos solicitados</h5>
            <div class="card-body">
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Habilidad</label>
                    <input class="form-control form-control-sm"
                     type="text"
                     name="tipo_habilidad"
                     id="tipo_habilidad" 
                     [(ngModel)]="tipo_habilidad"
                     placeholder="Nombre de la habilidad" 
                     aria-label=".form-control-sm example"
                     >
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Descripción</label>
                    <input 
                    class="form-control form-control-lg" 
                    type="text"
                    name="descripcion"
                    id="descripcion"
                    [(ngModel)]="descripcion"
                    placeholder="Describe las capacidades de dicha habilidad" 
                    aria-label=".form-control-lg example">
                </div>
              <button class="btn btn-warning" type="submit">Guardar Habilidad</button>
            </div>
          </div>
        </form>
    </div>
</div>