<div id="disenobox">
    <h2 
    id="disenotitulo"
    >
    <div
    class="row"
    >
    <div
    class="col-sm-10"
    >
    Tecnologias
    </div>
    <div
    class="col-sm-2"
    >      
    <button 
    class="btn btn-secondary"
    (click)="backPorfolio()"
    id="botonedit"
    >Volver
    </button>
    </div>
    </div>
    </h2>
    <div class="container">
        <form [formGroup]="editarTecForm" (ngSubmit)="formularioEditarTec(editarTecForm.value)">
            <div>
                <span>Tecnologia</span>
                <input 
                 class="form-control form-control-lg" 
                 type="text" 
                 id="lenguaje_framework"
                 formControlName="lenguaje_framework"
                 placeholder="Lenguaje, Libreria, Framework o Tecnología" 
                 aria-label=".form-control-lg example"
                 >
            </div>
            <div class="input-group">
                <span 
                class="input-group-text">Descripcion</span>
                <textarea 
                class="form-control"
                type="text"
                id="descripcion"
                formControlName="descripcion"
                aria-label="With textarea"></textarea>
              </div>
              <br>
              <button type="submit" class="btn btn-warning">Guardar cambios</button>
        </form>
    </div>
</div>