<div id="disenobox">
    <h2 id="disenotitulo">
    <div class="row">
    <div
    class="col-10"
    >Proyectos
    </div>   
    <div
    class="col-2"
    >
    <button 
    class="btn btn-secondary"
    (click)="backPorfolio()"
    >Volver
    </button>
    </div>
    </div>
    </h2>
    <form class="form-floating" [formGroup]="editarProyForm" (ngSubmit)="formularioEditarProy(editarProyForm.value)">
        <input 
        type="text" 
        class="form-control"
        id="floatingInputValue"
        id="nombre_proyecto"
        formControlName="nombre_proyecto" 
        placeholder="name@example.com">
        <label 
        for="floatingInputValue">Nombre del Proyecto</label>
        <br>
        <div class="form-floating">
            <textarea 
            class="form-control" 
            placeholder="Leave a comment here" 
            id="floatingTextarea"
            type="text"
            id="text"
            formControlName="descripcion"></textarea>
            <label for="floatingTextarea">Descripción del proyecto</label>
        </div>
        <br>
        <button class="btn btn-warning" type="submit">Guardar cambios</button>
    </form>   
</div>