<div id="disenobox">
    <h2 
    id="disenotitulo">
    <div class="row">
    <div
    class="col-sm-10"
    >Habilidades
    </div>
    <div
    class="col-sm-2">    
    <button 
    class="btn btn-secondary"
    (click)="backPorfolio()"
    id="botonedit"
    >
    Volver
    </button>
    </div>
    </div>
    </h2>
    <div class="container">
        <form [formGroup]="editarHabForm" (ngSubmit)="formularioEditarHab(editarHabForm.value)">
            <div class="card">
                <div class="card-body">
                  <label>Habilidad</label>
                  <input 
                   class="form-control"
                   type="text" 
                   id="tipo_habilidad"
                   formControlName="tipo_habilidad"
                   placeholder="Nombre de la habilidad" 
                   aria-label="default input example"
                   >
                  <label>Descripcion</label>
                  <input 
                  class="form-control" 
                  type="text" 
                  id="descripcion"
                  formControlName="descripcion"
                  placeholder="Descripcion" 
                  aria-label="default input example"
                  >
                  <br>
                  <button class="btn btn-primary" type="submit">Guardar Cambios</button>
                </div>
              </div>
        </form>
    </div>
</div>