<div class="container">
 <div class="card border-success mb-3" style="max-width: 30rem;">
    <div 
    class="card-header"
    >
    <div 
    class="row"
    >
    <div 
    class="col-sm-8"
    >
    {{tecnologia.lenguaje_framework}}
    </div>
    <div 
    class="col-sm-2"
    >
    <i 
    class="bi bi-pen"
    (click)="editTech(tecnologia.id_tecnologias)"
    >
    </i>
    </div>
    <div
    class="col-4 col-sm-2"
    >    
    <i 
    class="bi bi-x-square" 
    (click)="borrarTecnologia(tecnologia)"
    >
    </i>
    </div>
    </div>
    </div> 
    <div class="card-body text-success">
      <p class="card-text">{{tecnologia.descripcion}}</p>
    </div>
 </div>
</div>

