<div id="disenobox">
    <h2 
    id="disenotitulo"
    >
    <div class="row">
    <div 
    class="colsm-10">
    Experiencia  
    </div>
    <div
    class="col-sm-2">  
    <button 
    type="button" 
    class="btn btn-secondary" 
    (click)="backPorfolio()">Volver
    </button>
    </div>
    </div>
    </h2>
<div>
    <form 
    class="form-control" 
    (ngSubmit)="guardarExperiencia()"
    id="form-edit">
    <h4
    >
    Agregando Experiencia
    </h4>
    <div class="input-group">
    <span class="input-group-text">Modalidad</span>
    <textarea 
    class="form-control" 
    aria-label="With textarea" 
    placeholder="Monotributista, relación de dependencia, Full Time, pasantía, etc."
    type="text"
    name="modalidad"
    id="modalidad"
    [(ngModel)]="modalidad"></textarea>
    </div>
    <div class="input-group">
        <span class="input-group-text">Empresa</span>
        <textarea 
        class="form-control" 
        aria-label="With textarea" 
        placeholder="Nombre o razón social de la empresa para la que te desempeñaste"
        type="text"
        name="nombre_empresa"
        id="nombre_empresa"
        [(ngModel)]="nombre_empresa"></textarea>
    </div>
    <div class="input-group">
        <span class="input-group-text">Descripcion</span>
        <textarea 
        class="form-control" 
        aria-label="With textarea" 
        placeholder="Describe las actividades que realizaste, funciones, el puesto, fecha de inicio y final, etc"
        type="text"
        name="descripcion"
        id="descripcion"
        [(ngModel)]="descripcion"></textarea>
    </div>
    <br>
    <div
    class="d-grid gap-2 col-6 mx-auto"
    >
    <button 
    type="submit"
    class="btn btn-warning"
    >
    Guardar Experiencia
    </button>
    </div>  
</form>
</div>
</div>